<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is the homepage</title>
</head>
<body>
<section>


<div class="card mr-3 ml-3">

<div class="card-body">

<h1 class="text-center">Update your contact</h1>

<div class="container-fluid mt-1">

<div class="row">

<div class="col-md-6 offset-md-3">


<form action="#" 
th:object="${contact}"
enctype="multipart/form-data"
method="POST"
th:action="@{/user/process-update}"
class="mt-2"
>

<!-- First Name -->

<div class="input-group">

	<div class="input-group-prepend">

		<div class="input-group-text">


			<i class="fas fa-plus"></i>


</div>


</div>

<input th:value="${contact.name}" required type="text" id="firstName"  name="name" placeholder="Enter first name here" class="form-control"/>

</div>

<!-- Second name field starts -->
 
 
 <div class="input-group mt-3">

	<div class="input-group-prepend">

		<div class="input-group-text">


			<i class="fas fa-user-alt"></i>


</div>


</div>

<input th:value="${contact.secondName}" required type="text" id="secondName"  name="secondName" placeholder="Enter second name here" class="form-control"/>

</div>

<!-- Phone number field -->

<div class="input-group mt-3">

	<div class="input-group-prepend">

		<div class="input-group-text">


			<i class="fa fa-phone"></i>


</div>


</div>

<input th:value="${contact.phone}" required min=10  type="number" id="phone"  name="phone" placeholder="Enter phone number here" class="form-control"/>

</div>



<!-- Email Field -->

<div class="input-group mt-3">

	<div class="input-group-prepend">

		<div class="input-group-text">


			@

</div>


</div>

<input th:value="${contact.email}" required type="email" id="email"  name="email" placeholder="Enter email here" class="form-control"/>

</div>


<!-- Work field -->


<div class="input-group mt-3">

	<div class="input-group-prepend">

		<div class="input-group-text">


			<i class="fa fa-briefcase"></i>


</div>


</div>

<input th:value="${contact.work}" required type="text" id="work"  name="work" placeholder="Enter work details here" class="form-control"/>

</div>


<!-- Contact Description -->

<div class="form-group mt-3">

<textarea th:text="${contact.description}" id="mytextarea" placeholder="Enter contact description" name="description" class="form-control" rows="10"></textarea>


</div>


<!-- Contact image -->

<div class="container text-center">

<img style="width:300px; height:300px;" class="img-fluid my_profile_picture" src="" th:src="@{'/img/'+${contact.image}}" alt="" />

</div>

<p class="text-secondary text-center">Your current profile picture</p>

<div class="custom-file">

<input type="file" name="profileImage" />

</div>

<div class="container text-center">

<button class="btn btn-outline-primary">Save contact</button>

</div>


</form>



</div>


</div>


</div>

</div>

</div>


</section>
</body>
</html>